<% content_for :stylesheets do %>
  #slide-1 {
    display: none;
  }
<% end -%>
<!-- <div class="container-fluid">
  <div class="row"> -->
    <ul class="bxslider">
      <li>
        <%= image_tag "slider1.jpg"%>
        <div class="heading-background">
          <span class="heading-italic">Come relax by the fire</span><br>
          <span class="heading-normal">at Perdu</span>
        </div>
      </li>
      <li>
        <%= image_tag "slider2.jpg"%>
        <div class="heading-background">
          <span class="heading-italic">Local Dining in Medicine Hat</span><br>
          <span class="heading-normal">Celebrate Good Food!</span>  
        </div>
      </li>
      <li>
        <%= image_tag "slider3.jpg"%>
        <div class="heading-background">
          <span class="heading-italic">Unique Signature Drinks</span><br>
          <p>Enjoy unique, rustic, signature drinks in a relaxed, pub-like atmostphere.</p>
        </div>
      </li>
      <li>
        <%= image_tag "slider4.jpg"%>
        <div class="heading-background">
          <span class="heading-italic">Local Food</span><br>
          <span class="heading-normal">Prepared with Care</span>
          <p>Every meal is hand-made and locally inspired!</p>
        </div>
      </li>
    </ul>
<!--   </div>
</div> -->
<div class="container container-block">
  <div class="row">
    <div class="col-lg-12 text-box">
      <div class="col-lg-6">
        <div class="heading-padding">
          <span class="heading-alfa-font">Perdu Cocktail Bar</span>
        </div>
        <p>
          Rustic Kitchen and Bar in Medicine Hat is a local restaurant supporting regional cuisine and
          community artisans. We strive to maintain a high level of quality
          using the freshest and finest ingredients available. All of our delicious food
          is made in-house using locally sourced ingredients
          whenever possible.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="img-nested">
          <%= image_tag "lamb.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="slide-3" class="homeSlide">
  <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-bottom-top="background-position: 50% 100px;"
      data-anchor-target="#slide-3"
  >
    <div class="hsContainer">
      <div class="hsContent"
          data-center="opacity: 1"
          data-anchor-target="#slide-3"
      >
        <div class="container container-block">
          <div class="row">
            <div class="col-lg-12 text-box">
              <div class="row">
                <div class="col-md-12 col-lg-4">
                  <div class="img-nested">
                    <%= image_tag "Mothersday_Brunch_buffet.jpg" %>
                  </div>
                </div>
                <div class="col-md-12 col-lg-8">
                  <span class="heading-normal">Sunday Brunch is Coming Soon!</span><br>
                  <span class="heading-italic"> Join us Sunday May 8th for Mother's Day Brunch Buffet! </span><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container-block">
  <div class="row text-box">
    <div class="col-sm-12 col-lg-6">
      <div class="heading-padding">
        <span class="heading-alfa-font">Discover</span>
        <span class="heading-normal">delicious cuisine sourced from home!</span>
      </div>
      <a class="btn-default" href="http://rustickitchenandbar.com/our_story">About Us</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 ">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-6 img-nested img-stack">
          <%= image_tag "cheesecake.jpg" %>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-6 img-nested img-stack">
          <%= image_tag "pg1_3.jpg" %>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-6 img-nested img-stack">
          <%= image_tag "pg1_4.jpg" %>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-6 img-nested img-stack">
          <%= image_tag "steak.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="slide-4" class="homeSlide">
  <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-bottom-top="background-position: 50% 100px;"
      data-anchor-target="#slide-4"
  >
    <div class="hsContainer">
      <div class="hsContent"
          data-center="opacity: 1"
          data-anchor-target="#slide-4"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <blockquote class="text-box">
                <i class="fa fa-quote-left fa-4x" aria-hidden="true"></i><br>
                <cite>One cannot think well, love well, sleep well, if one has not dined well.</cite>
                <span class="author">- Virginia Woolf</span>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
