<div class="container container-block">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-padding">
        <span class="heading-alfa-font">Book a reservation</span>
      </div>
      <div id="reservation_form" class="col-lg-6">
        <%= form_tag home_reserved_path do%>
          <div class="form-group">
            <%= label_tag 'Name:' %>
            <%= text_field_tag :guest, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Phone Number:' %>
            <%= telephone_field_tag :phone_number, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Number of People:' %>
            <%= number_field_tag :number_of_people, 1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Arrival Time:' %>
            <%= datetime_field_tag :arrival_datetime, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag 'Note:' %>
            <%= text_area_tag :note, nil, class: 'form-control' %>
          </div>
          <div class="row">
            <%= submit_tag 'Reserve', class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div id="reservation_info" class="col-lg-12">
        <span class="heading-normal">Or call:  </span>
        <span class="heading-normal">
          <a href="tel:4035259938">+84 977 295939</a>
        </span>
        <br>
        <p>(On a cell-phone, just click the number to call)</p>
        <br>
        <h1>Hours of Operation</h1>
        7pm - 1am<br>
        CLOSED the first and the third Monday of the month<br>
      </div>
    </div>
  </div>
</div>