<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi beautiful boss</h1>
    <p>
      <%= @options[:name] %> made a reservations
    </p>
    <p>
      Name: <%= @options[:name] %>
    </p>
    <p>
      Phone: <%= @options[:phone] %>
    </p>
    <p>
      Number of people: <%= @options[:people] %>
    </p>
    <p>
      Time: <%= @options[:datetime] %>
    </p>
    <p>
      Note: <%= @options[:note] %>
    </p>
  </body>
</html>