<!DOCTYPE html>
<html>
<head>
  <title>Perdu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style><%= yield :stylesheets %></style>
</head>
<body>
	<nav class="navbar navbar-default" id="navbar">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand">
          <a href="https://www.facebook.com/perdu.pub" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/perdu.pub/"><i class="fa fa-instagram"></i></a>
        </div>	    	
      </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><%= link_to 'Home', home_url %></li>
	      	<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to 'Our Story', about_url %></li>
	            <li><%= link_to 'The Location', location_url %></li>
	          </ul>
	        </li>
	      	<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menus<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to 'Cocktails', cocktail_menu_items_path %></li>
	            <li><%= link_to 'Others', other_menu_items_path %></li>
	          </ul>
	        </li>
	        <li><%= link_to 'Events', events_url %></li>
	        <li><%= link_to 'Reservations', reservations_url %></li>
	        <li><a href="https://enigmatic-island-42338.herokuapp.com/">Blog</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
	      <div class="col-lg-12" style="min-height: 0%;">
	          <header id="header" class="main-page-header">
	              <h1>
	                  <a href="http://perdu.vn">
	                      <%= image_tag 'perdusign.png' %>
	                  </a>
	              </h1>
	          </header>
	      </div>
	  </div>
	</div>


	<div id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-1"
    >
    </div>
	</div>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end -%>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end -%>


	<%= yield %>

</body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<footer class="container" id="footer">
	<div class="row">
		<i class="fa fa-map-marker"></i><br>
		<span class="our-address">
				2nd Floor, 29 Ngo Gia Tu Street<br>
				Da Nang, Viet Nam <br>
		</span>
		<span class="phone"><a href="tel:+84977295939">+84 977 295939</a></span><br>
		<span class="our-address">Hours: 7pm-1am, Closed on the first and third Monday of the month</span> 
	</div>
	<div class="row heading-padding">
    <span>© Copyright 2016 Perdu Cocktail-Bar. All rights reserved.</span>
  </div>
</footer>
</html>
